<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        @keyframes zoom-in-zoom-out {
            0% {
              transform: scale(0.5, 0.5);
            }
            
            100% {
              transform: scale(1, 1);
            }
          }
    </style>
</head>
<body>
    <div style="postion:relative;width:600pxheight:200px ">
    <img class="zoom" src="https://cdn4.iconfinder.com/data/icons/customicondesignoffice2/256/success.png" style="  position: absolute;
    animation: zoom-in-zoom-out 2s ease 1;width:80px;height:80px;top:230px;left:570px;" >
    <h1 class="zoom" style="margin-top:300px;position:absolute;top:-60px;left:670px"><pre>Successfully Applied</pre></h1>
    
    <div>
        <a href="{% url 'home'%}" style="postion:absolute;top:60px;left:670px">{{"<-"}}Back to apply more jobs</a>
</body>
</html>